
.banner{
    width: 100%;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.main p{
    margin: 0 0 1em;
}

.main strong{
    font-weight: bold;
}

.main em{
    font-style: italic;
}

.cont-beneficios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
}

.lista{
    list-style: none;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.imgbeneficios{
    width: 60%;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0 ;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}