@charset "utf-8";

*{
    margin:0;
    padding:0;
}

body{
    background-color: whitesmoke ;
}

.header{
    display: flex;
    flex-direction: row;
    max-width: 924px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
header{
    background: #bdbdbd;
    padding: 20px;
}

nav{
    display: flexbox;
   
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    margin: 15px;
}
nav a:hover{
    text-decoration: underline;
}

main{
    max-width: 924px;
    margin: 0 auto;
    
}

#img{
    background-color: #bdbdbd;
}

#banner{
    width: 100%;
}

.main{
    background-color: #bdbdbd;
    padding: 30px;
}

.text-center{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 1.2em;
}

em strong{
    color: #FF0000;
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color: white;
    padding: 20px;
}

.beneficios ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 20%;
    margin-left: 5%;
    line-height: 2em;
    list-style: none;
}

.imgbeneficios{
    width: 50%;
}

footer{
    background:url(../imgs/bg.jpg);
    text-align: center;
    color:white;
    padding: 25px;
    font-size: .8em;
}

footer img{
    height: 150px;
}