@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header{
    display: flex;
    flex-direction: row;
    max-width: 924px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
header{
    background: #bdbdbd;
    padding: 20px;
}

nav{
    display: flexbox;
   
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    margin: 15px;
}

nav a:hover{
    text-decoration: underline;
}

main{
    max-width: 924px;
    margin: 0 auto;
}

footer{
    background:url(../imgs/bg.jpg);
    text-align: center;
    color:white;
    padding: 25px;
    font-size: .8em;
    font-family: 'Times New Roman', Times, serif;
}

footer img{
    height: 150px;
}
